# Flutter/Dart/Pub related
.dart_tool/
.packages
pubspec.lock
build/

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws

# VSCode related
.vscode/

# Misc
.DS_Store
Thumbs.db

# Backend functions & local server
backend/functions/**/node_modules/
backend/functions/**/dist/
backend/server/node_modules/
backend/server/media/
backend/server/uploads/
